<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>

        <title>Getting Started: Serving Web Content</title>
    </head>

    <body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <a href="#" class="sidebar-item sidebar-brand">Lombelo</a>
            <ul class="sidebar-nav">
                <a th:href="@{/addNote}"><li class="sidebar-item"> Add Note </li> </a>
                <hr/>
                <a th:href="@{/showNotes}"><li class="sidebar-item"> All Notes </li> </a>
                <a href="#"><li class="sidebar-item"> Another link </li> </a>
            </ul>
        </div>

        <!-- Main content -->
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" th:action="@{/showNotes}">
                                <div class="form__bg">
                                    <div class="form-group">
                                        <label>Tags</label>
                                        <input name="searchTags" type="text" class="form-control" placeholder="Tags"
                                               required="false"/>
                                    </div>

                                    <div class="row">
                                        <div class=" col-xs-6 text-xs-right">
                                            <button type="submit" class="button btn btn-primary" autofocus="autofocus">
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="container__table">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Date of Last Change</th>
                                        <th>Title</th>
                                        <th>Tags</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="note : ${notes}" th:if="${note.containsAllTags(searchTags) == true}">
                                        <th th:text="${note.lastChanged}"></th>
                                        <th th:text="${note.title}"></th>
                                        <th th:text="${note.getTagsAsString()}"></th>
                                        <td>
                                            <a th:href = "@{'/editNote/' + ${note.id}}">
                                                <button type="button" class="btn btn-primary" data-toggle="modal">
                                                edit
                                                </button>
                                            </a>

                                            <a th:href = "@{'/removeNote/' + ${note.id}}">
                                            <button type="button" class="btn" data-toggle="modal">
                                                remove
                                            </button>
                                            </a>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </body>
</html>