<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

        <title>All Notes</title>
    </head>

    <body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <a th:href="@{/}" class="sidebar-item sidebar-brand">Lombelo</a>
            <ul class="sidebar-nav">
                <a th:href="@{/addNote}"><li class="sidebar-item"> Add Note </li> </a>
                <hr/>
                <a th:href="@{/showNotes}"><li class="sidebar-item"> All Notes </li> </a>
                <a th:href="@{/settings}"><li class="sidebar-item"> Settings </li> </a>
                <a th:href="@{/logout}"><li class="sidebar-item"  th:if="${#httpServletRequest.isUserInRole('USER')}"> Sign out </li></a>
            </ul>
        </div>

        <!-- Main content -->
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    <nav class="navbar">
                        <form method="post" th:action="@{/showNotes}" class="navbar-form navbar-right">
                            <div class="row">
                                <div class="nav navbar-nav navbar-right">
                                    <div class="form-group">
                                        <input name="searchTags" type="text" class="form-control"
                                               placeholder="Search for Tags" required="false"/>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="button btn btn-primary" autofocus="autofocus">
                                            <i class="fa fa-search"/>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </nav>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="container__table">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Last Changed</th>
                                        <th>Title</th>
                                        <th>Tags</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="note : ${notes}" th:if="${note.containsAllTags(searchTags) == true}">
                                        <th th:text="${note.lastChanged}"></th>
                                        <th th:text="${note.title}"></th>
                                        <th th:text="${note.getTagsAsString()}"></th>
                                        <td>
                                            <a th:href = "@{'/editNote/' + ${note.id}}">
                                                <button type="button" class="btn btn-primary" data-toggle="modal">
                                                edit <i class="fa fa-edit"/>
                                                </button>
                                            </a>

                                            <a th:href = "@{'/removeNote/' + ${note.id}}">
                                            <button type="button" class="btn" data-toggle="modal">
                                                remove <i class="fa fa-remove"/>
                                            </button>
                                            </a>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </body>
</html>