<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>

        <title>Getting Started: Serving Web Content</title>
    </head>

    <body>

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">Home</a></li>
                <li><a href="#">Another link</a></li>
                <li><a href="#">Next link</a></li>
                <li><a href="#">Last link</a></li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>This is a Bootstrap test</h1>
                            <p>Resize the browser window to see the effect.</p>
                            <div class="row">
                                <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
                                <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
                                <div class="col-sm-4" style="background-color:red;">.col-sm-4</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </body>
</html>